body {
    background-color: linen;
}

#main {
    margin-top: 100px;
    border: solid;
}

#box {
    width: 700px;
}

img {
    margin: 20px 10px;
    width: 400px;
}

ul {
    text-align: left;
}

/* #question-result {
    text-emphasis: bold;
} */

#home {
    color: rgb(233, 232, 232);
}

